@-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }
  
  .dropdown-dark {
    width: auto;
    margin-top: 10px;

   
  
  }
  
 
  
  .dropdown-dark .dropdown-select {
    color: #aaa;
    width: 100%;
    background: rgba(255, 255, 255, 0);  /* Fallback for IE 8 */
    border-color: #8e8ea0;
    border-radius: 12px;
  }
  
  .dropdown-dark .dropdown-select:focus {
    color: #ccc;
    border-color: rgba(255, 255, 255, 0);

  }
  
  .dropdown-dark .dropdown-select > option {
    background: #444;
   
  }